.top-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e9cc79;
  text-align: center;
}

.top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.cc_h1 {
  float: none;
  font-family: 'Proza Libre', sans-serif;
  color: #e9cc79;
  font-size: 45px;
  line-height: 80px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.cc_h1.smaller {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Gt walsheim', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.title_smalltext {
  font-family: 'Gt walsheim', sans-serif;
  color: #c95c40;
  font-size: 18px;
  font-weight: 400;
}

.body {
  background-color: #f7f8f9;
}

.flex-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.left-side-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  padding: 10px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.sidebar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  padding-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.right-side-content {
  padding-top: 0px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 2px solid #e9cc79;
}

.link {
  color: #585858;
  font-size: 15px;
  text-decoration: none;
}

.item {
  padding: 7px 10px 7px 30px;
}

.div-block {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
}

.paragraph {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.heading-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.5px;
}

.home_topbarlink {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.cc_topbarlink {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fffcef;
}

.unordered-list-2 {
  width: 40vw;
  margin: 10px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  list-style-type: none;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.link-4 {
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.link-4.textborder {
  font-size: 45px;
  font-style: italic;
}

.link-4.textborder:hover {
  color: #7e9970;
}

.link-5 {
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.link-5.textborder {
  font-size: 45px;
  font-style: italic;
}

.link-6 {
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.link-6.textborder {
  font-size: 45px;
  line-height: 50px;
  font-style: italic;
}

.list-item {
  margin: 40px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Karla, sans-serif;
}

.link-7 {
  font-family: 'Proza Libre', sans-serif;
  font-size: 45px;
  line-height: 40px;
  text-decoration: none;
}

.list-item-2 {
  list-style-type: none;
}

.link-8 {
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 45px;
  line-height: 40px;
  font-style: italic;
  font-weight: 800;
  text-decoration: none;
}

.link-8.textborder {
  line-height: 45px;
}

.list-item-3 {
  margin: 40px;
}

.showhide_cc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 30vw;
  max-width: 100%;
}

.caption {
  margin-top: 15px;
  font-family: Karla, sans-serif;
  color: #000;
  text-align: center;
  letter-spacing: 0.5px;
}

.image-2 {
  position: absolute;
  max-width: 60%;
}

.div-block-5 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.showhide_ms {
  position: absolute;
}

.image-3 {
  width: 30vw;
}

.showhide_pt {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-4 {
  width: 30vw;
}

.showhide_sr {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-5 {
  width: 30vw;
}

.image-6 {
  display: block;
  width: 10vw;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 10px;
}

.heading-3 {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.div-block-6 {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-7 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Gt walsheim', sans-serif;
  color: #7e9970;
}

.column {
  margin-bottom: 0px;
  padding: 20px;
  border: 2px solid #7e9970;
}

.column-2 {
  padding: 20px;
  border: 2px solid #7e9970;
}

.image-7 {
  width: 15vw;
  margin-top: 60px;
  margin-left: 30px;
}

.heading-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 100px;
  font-family: 'Gt walsheim', sans-serif;
  color: #6ba348;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  text-align: left;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.about_topbarlink {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff6ee;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-8 {
  width: 30vw;
  margin: 20px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.paragraph-2 {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-9 {
  text-decoration: none;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-9 {
  width: 50vw;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 20px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: Karla, sans-serif;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.3px;
}

.link-10 {
  font-family: 'Gt walsheim', sans-serif;
}

.link-11 {
  font-family: 'Gt walsheim', sans-serif;
}

.link-11.sidebarmenu {
  color: #6ba348;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.link-11.sidebarmenu:active {
  font-weight: 300;
}

.sidebarmenu {
  margin: 10px 10px 10px 0px;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.sidebarmenu.w--current {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.unordered-list-3 {
  font-family: Karla, sans-serif;
}

.div-block-11 {
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading-6 {
  margin: 20px 0px;
  font-family: 'Gt walsheim', sans-serif;
  color: #6ba348;
}

.div-block-12 {
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-13 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-10 {
  display: block;
  max-width: 80%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row {
  margin-top: 20px;
  margin-left: -10px;
  border: 1px solid #6ba348;
}

.column-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #6ba348;
}

.column-5 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #6ba348;
}

.image-11 {
  max-width: 70%;
  margin-top: 10px;
  margin-right: 20px;
}

.heading-7 {
  margin-top: 10px;
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 23px;
  line-height: 35px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.image-12 {
  width: 5vw;
}

.image-13 {
  width: 40vw;
  margin-bottom: 10px;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-8 {
  margin-top: -15px;
  font-family: Prozalibre;
  color: #6ba348;
  font-size: 20px;
  line-height: 35px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-14 {
  width: 25vw;
  margin-right: 20px;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-15 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-16 {
  width: 25vw;
}

.image-17 {
  width: 20vw;
  margin-right: 15px;
}

.unordered-list-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
  list-style-type: disc;
}

.link-12 {
  text-decoration: none;
}

.about_h1 {
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: 'Proza Libre', sans-serif;
  font-style: italic;
  letter-spacing: 0.5px;
}

.pt_topbarlink {
  font-family: Karla, sans-serif;
  color: #ffa30f;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.pt_h1 {
  font-family: 'Proza Libre', sans-serif;
  color: #e2b76a;
  font-size: 45px;
  line-height: 80px;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.5px;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e2b76a;
}

.div-block-21 {
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 2px solid #e2b76a;
}

.heading-9 {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.pt_sidebarlink {
  color: #ffb133;
  font-size: 16px;
  text-decoration: none;
}

.list-item-5 {
  margin: 10px;
}

.pt_paragraph {
  margin-bottom: 20px;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 13.5px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.image-18 {
  width: 57vw;
}

.image-19 {
  max-width: 60%;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-20 {
  width: 57vw;
}

.image-21 {
  width: 57vw;
}

.button {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  letter-spacing: 1px;
}

.image-22 {
  width: 50vw;
}

.link-13 {
  font-family: Karla, sans-serif;
  color: #f1511b;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-23 {
  width: 30vw;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-24 {
  max-width: 70%;
  margin: 20px 20px 30px;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-3 {
  display: block;
  width: 42vw;
  color: #000;
  font-size: 13px;
  line-height: 23px;
  text-align: left;
  letter-spacing: 0.1px;
}

.photo_h1 {
  font-family: 'Proza Libre', sans-serif;
  color: #85a092;
  font-size: 45px;
  line-height: 80px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.link-14 {
  font-family: Karla, sans-serif;
  color: #254bba;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.photo_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #85a092;
}

.heading-11 {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  letter-spacing: 0.5px;
}

.link-15 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.link-15.w--current {
  font-size: 15px;
  font-weight: 700;
}

.list-item-6 {
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.div-block-28 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 2px solid #95a2b6;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  letter-spacing: 0.1px;
}

.heading-12 {
  color: #000;
  font-size: 16px;
}

.paragraph-4 {
  color: #000;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.image-25 {
  width: 50vw;
  margin-bottom: 20px;
}

.button-2 {
  display: block;
  margin-left: 20px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
}

.image-26 {
  width: 30vw;
  margin-top: 10px;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-27 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-28 {
  width: 50vw;
  margin-top: 30px;
  margin-bottom: 30px;
}

.unordered-list-5 {
  list-style-type: decimal;
}

.text-block {
  color: #254bba;
  font-size: 16px;
  line-height: 26px;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-29 {
  width: 15vw;
  margin-right: 20px;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-30 {
  width: 50vw;
}

.div-block-33 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cc_menu {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
}

.cc_menu:hover {
  text-decoration: underline;
}

.image-31 {
  width: 30vw;
}

.div-block-34 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  margin-bottom: 5px;
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 25px;
  text-align: left;
}

.ms_menu {
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  text-decoration: none;
}

.link-16 {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 800;
  text-decoration: none;
}

.link-16.ms_menu {
  font-family: 'Proza Libre', sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.link-16.ms_menu:hover {
  text-decoration: underline;
}

.pt_menu.link-16 {
  font-family: 'Proza Libre', sans-serif;
  font-style: italic;
  font-weight: 700;
  text-align: justify;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.pt_menu.link-16:hover {
  text-decoration: underline;
}

.sr_menu.link-16 {
  font-family: 'Proza Libre', sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.sr_menu.link-16:hover {
  text-decoration: underline;
}

.cc_background {
  position: absolute;
  height: 100vh;
  background-color: #ffe6a1;
}

.sr_bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #aebbd2;
}

.cc_bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #bcd4be;
}

.ms_bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #e5b28a;
}

.pt_bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffe6a1;
}

.div-block-36 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.div-block-37 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #f8f5ed;
}

.div-block-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-17 {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
}

.link-17:hover {
  text-decoration: underline;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
  margin-right: 11px;
  margin-left: 11px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-13 {
  font-family: Sentinel;
  color: #254bba;
  font-size: 28px;
  line-height: 40px;
  font-style: italic;
  letter-spacing: 0.5px;
}

.link-18 {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 15px;
  text-align: left;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
}

.lumid_h1 {
  font-family: 'Proza Libre', sans-serif;
  color: #b39a7e;
  font-size: 45px;
  line-height: 80px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.5px;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #b39a7e;
}

.div-block-41 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 2px solid #b39a7e;
}

.image-32 {
  width: 20vw;
}

.div-block-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-33 {
  width: 30vw;
  margin: 10px;
}

.div-block-43 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-34 {
  width: 60vw;
}

.div-block-44 {
  margin-bottom: 20px;
}

.image-35 {
  width: 8vw;
  margin-top: 10px;
  margin-bottom: 20px;
}

.showhide_lumid {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-36 {
  width: 30vw;
}

.link-19 {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
}

.link-19:hover {
  text-decoration: underline;
}

.image-37 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-45 {
  max-width: 100%;
  padding: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 275px;
  -ms-flex: 1 0 275px;
  flex: 1 0 275px;
}

.div-block-46 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-14 {
  font-family: Sentinel;
  font-size: 23px;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.3px;
}

.paragraph-5 {
  width: 60vw;
  font-family: Karla, sans-serif;
  line-height: 25px;
  text-align: center;
}

.showhide_film {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-3 {
  text-align: center;
}

.row-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row-3 {
  margin-bottom: 30px;
}

.div-block-47 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.row-4 {
  display: block;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  padding: 20px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none #eec49a;
}

.link-20 {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.link-21 {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.container-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-48 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-38 {
  box-shadow: 0 0 5px 0 #8a8a8a;
}

.image-38:hover {
  box-shadow: 7px 7px 0 2px #e9cc79;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ms_home {
  box-shadow: 0 0 5px 0 #8a8a8a;
}

.ms_home:hover {
  box-shadow: 7px 7px 0 2px #ad9d9d, 0 0 3px 0 #b1b1b1;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.sr_home {
  box-shadow: 0 0 5px 0 #8a8a8a;
}

.sr_home:hover {
  box-shadow: 7px 7px 0 2px #95a2b6;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.sideproject_home {
  box-shadow: 0 0 5px 0 #8a8a8a;
}

.sideproject_home:hover {
  box-shadow: 7px 7px 0 2px #e0b365;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.div-block-49 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-22 {
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.link-23 {
  font-family: 'Proza Libre', sans-serif;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.link-24 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Proza Libre', sans-serif;
  color: #333;
  font-size: 17px;
  line-height: 23px;
  text-decoration: none;
}

.text-block-4 {
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.section-3 {
  margin: 39px;
}

.column-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-39 {
  box-shadow: 0 0 5px 0 #8a8a8a;
}

.image-39:hover {
  box-shadow: 7px 7px 0 2px #8a9283;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.row-5 {
  width: 90%;
}

.column-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-40 {
  box-shadow: 0 0 5px 0 #8a8a8a;
}

.image-40:hover {
  box-shadow: 7px 7px 0 2px #b39a7e;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.image-41 {
  box-shadow: 0 0 5px 0 #8a8a8a;
}

.image-41:hover {
  box-shadow: 7px 7px 0 2px #85a092;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.div-block-50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Karla, sans-serif;
  color: #8b8b8b;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
}

.div-block-51 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-43 {
  max-width: 100%;
  margin: 10px;
}

.image-44 {
  max-width: 100%;
  margin: 10px;
}

.image-45 {
  margin: 10px;
}

.image-46 {
  margin: 10px;
}

.image-47 {
  margin-bottom: 10px;
}

.image-48 {
  max-width: 60%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.div-block-52 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-49 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.image-50 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.image-51 {
  max-width: 60%;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.div-block-53 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-54 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-52 {
  max-width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.image-53 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.link-25 {
  color: #e4a606;
  text-decoration: underline;
}

.heading-15 {
  font-family: 'Proza Libre', sans-serif;
  color: #95a2b6;
  font-size: 45px;
  line-height: 80px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}

.div-block-55 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #95a2b6;
}

.div-block-56 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 2px solid #85a092;
}

.div-block-57 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #c7bdbd;
}

.heading-16 {
  font-family: 'Proza Libre', sans-serif;
  color: #ad9d9d;
  font-size: 45px;
  line-height: 80px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.5px;
}

.div-block-58 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 2px solid #c7bdbd;
}

.div-block-59 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #8a9283;
}

.heading-17 {
  font-family: 'Proza Libre', sans-serif;
  color: #8a9283;
  font-size: 45px;
  line-height: 80px;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.5px;
}

.paragraph-6 {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.link-26 {
  color: #000;
}

.image-54 {
  margin-bottom: 5px;
}

.ordered-list {
  letter-spacing: 4px;
}

.ordered-list-2 {
  letter-spacing: 4px;
}

.ordered-list-3 {
  letter-spacing: 4px;
}

.div-block-60 {
  border-left: 2px solid #8a9283;
}

.paragraph-7 {
  font-size: 13px;
  line-height: 23px;
}

.paragraph-8 {
  font-size: 13px;
}

.unordered-list-6 {
  font-size: 14px;
}

.paragraph-9 {
  font-size: 13px;
}

.paragraph-10 {
  font-size: 13px;
  line-height: 23px;
}

.paragraph-11 {
  font-size: 13px;
  line-height: 23px;
}

html.w-mod-js *[data-ix="displaynone"] {
  opacity: 0;
}

@media (max-width: 991px) {
  .container-5 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-53 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../fonts/ProzaLibre-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proza Libre';
  src: url('../fonts/ProzaLibre-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Gt walsheim';
  src: url('../fonts/gt-walsheim-web.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gt walsheim';
  src: url('../fonts/gt-walsheim-bold-oblique-web.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Gt walsheim';
  src: url('../fonts/gt-walsheim-bold-web.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gt walsheim';
  src: url('../fonts/gt-walsheim-light-web.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gt walsheim';
  src: url('../fonts/gt-walsheim-medium-web.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gt walsheim';
  src: url('../fonts/gt-walsheim-regular-oblique-web.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Gt walsheim';
  src: url('../fonts/gt-walsheim-light-oblique-web.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proza Libre';
  src: url('../fonts/ProzaLibre-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Proza Libre';
  src: url('../fonts/ProzaLibre-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}